doctype html
html
  head
    title= config.name
    script(src='/js/jquery-1.11.3.min.js')
    link(rel='stylesheet', href='/bootstrap-3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content=' #{config.description}')
    meta(name='author', content='#{config.author}')
  body
    div(class='container')
        div(class='header clearfix')
            nav
                ul(class='nav nav-pills pull-right')
                    li(role='presentation')
                        a(href='about') About
            h3(class='text-muted') #{config.name}
        
        block content
        
        footer(class='footer')            
            p(style='text-align: center;') #{config.author} & #{config.tecnology} & #{config.version}